* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

._container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 0 auto;
}

main {
  padding: 0 1rem;
}


/*-------------Nabvar-----------*/

.header {
  background-color: rgb(232, 127, 127);
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
}

.header__logo {
  color: #fff;
  font-size: 2rem;
}

.header__list {
  display: flex;
}

.header__list > *:not(:last-child) {
  margin: 0 1rem 0 0;
}

.list__item {
  padding: 0.3rem 0.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0.4rem;
}

.list__item:hover {
  background-color: #fff;
  transition: 0.3s linear;
}

.list__item:hover a {
  color: rgb(252, 76, 76);
  transition: 0.3s linear;
}


.list__link {
  color: #fff;
}



/*------------Form---------------*/

.todos {
  padding: 2rem 0;
}

.form__input  {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-color: transparent;
  border-bottom: 2px solid rgb(190, 190, 190);
  transition: 0.2s linear;
  min-height: 2.4rem;
  font-size: 0.6rem;
  color:rgb(60, 59, 59);
}

.form__input:focus {
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  transition: 0.2s linear;
  font-size: 0.8rem;
}



/*-----------ListItem--------------*/

.list-item {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 0;
}

.list-item__list > *:not(:last-child) {
  margin: 0 0 1rem 0;
}

.list-item__items {
  width: 100%;
  border: 2px solid rgb(190, 190, 190);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.list-item__items.completed .list-item__title {
  text-decoration: line-through;
}

.list-item__title {
  display: flex;
  align-items: center;
}

.list-item__close {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  
}

.list-item__close::after,
.list-item__close::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(232, 127, 127);
  position: absolute;
  top: 48%;
}

.list-item__close::after {
  transform: rotate(45deg);
}

.list-item__close::before {
  transform: rotate(-45deg);
}









